@page "/articulo"

<EditForm Model="@articulo">
    <div class="container mt-3 d-flex justify-content-center">
        <div class="card">
            <div class="card-header">
                <h5>Registro de Artículos</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">

                                <label class="form-label" for="CodigoProducto">Código Producto</label>
                                <input type="text" class="form-control mb-2" id="CodigoProducto" @bind="articulo.CodigoProducto">

                                <label class="form-label" for="CodigoBarra">Código de Barra</label>
                                <input type="text" class="form-control mb-2" id="CodigoBarra" @bind="articulo.CodigoBarra">

                                <label class="form-label" for="Descripcion">Descripción</label>
                                <input type="text" class="form-control mb-2" id="Descripcion" @bind="articulo.Descripcion">

                                <label class="form-label" for="Referencia">Referencia</label>
                                <input type="text" class="form-control mb-2" id="Referencia" @bind="articulo.Referencia">

                                <label class="form-label" for="Marca">Marca</label>
                                <InputSelect id="Marca" class="form-control mb-2" @bind-Value="articulo.Marca">
                                    <option value="">Seleccionar Marca</option>
                                </InputSelect>

                                <label class="form-label" for="Almacen">Almacén</label>
                                <InputSelect id="Almacen" class="form-control mb-2" @bind-Value="articulo.Almacen">
                                    <option value="">Seleccionar Almacén</option>
                                </InputSelect>

                                <label class="form-label" for="Ubicacion">Ubicación</label>
                                <InputSelect id="Ubicacion" class="form-control mb-2" @bind-Value="articulo.Ubicacion">
                                    <option value="">Seleccionar Ubicación</option>
                                </InputSelect>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label class="form-label" for="Unidad">Unidad</label>
                                        <InputSelect id="Unidad" class="form-control mb-2" @bind-Value="articulo.Unidad">
                                        </InputSelect>

                                        <label class="form-label" for="Costo">Costo</label>
                                        <input type="text" class="form-control mb-2" id="Costo" @bind="articulo.Costo">

                                        <label class="form-label" for="Itbis">Itbis</label>
                                        <input type="text" class="form-control mb-2" id="Itbis" @bind="articulo.Itbis">

                                        <label class="form-label" for="CostoItbis">Costo + Itbis</label>
                                        <input type="text" class="form-control mb-2" id="CostoItbis" @bind="articulo.CostoItbis">
                                    </div>

                                    <div class="col-md-6">
                                        <label class="form-label" for="Precio1">Precio1</label>
                                        <input type="text" class="form-control mb-2" id="Precio1" @bind="articulo.Precio1">

                                        <label class="form-label" for="Precio2">Precio2</label>
                                        <input type="text" class="form-control mb-2" id="Precio2" @bind="articulo.Precio2">

                                        <label class="form-label" for="Precio3">Precio3</label>
                                        <input type="text" class="form-control mb-2" id="Precio3" @bind="articulo.Precio3">

                                        <label class="form-label" for="Precio4">Precio4</label>
                                        <input type="text" class="form-control mb-2" id="Precio4" @bind="articulo.Precio4">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 ">
                            <div class="card mb-3 tercer-contenedor">
                                <div class="card-body">
                                    <div class="row">
                                        
                                        <div class="col-md-6">
                                            <label class="form-label" for="ExistenciaInicial">Existencia Inicial</label>
                                            <input type="text" class="form-control mb-2" id="ExistenciaInicial" @bind="articulo.ExistenciaInicial">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="form-label">&nbsp;</label> 
                                            <input type="text" class="form-control mb-2" placeholder="Campo Vacío"> 
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <label class="form-label" for="Descuentos">Descuentos</label>
                                            <input type="text" class="form-control mb-2" id="Descuentos" @bind="articulo.Descuentos">
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-check custom-checkbox">
                                                <input class="form-check-input" type="checkbox" id="Expira" @bind="articulo.Expira">
                                                <label class="form-check-label" for="Expira">Expira</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-6">
                                            <input type="text" class="form-control campo-adicional" placeholder="Campo adicional">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="d-flex justify-content-end btn-space">
                    <button type="submit" class="btn btn-success me-2">Guardar</button>
                    <button type="button" class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>>
</EditForm>

@code {
    private ArticuloModel articulo = new ArticuloModel();

    public class ArticuloModel
    {
        public string CodigoProducto { get; set; }
        public string CodigoBarra { get; set; }
        public string Descripcion { get; set; }
        public string Referencia { get; set; }
        public string Marca { get; set; }
        public string Almacen { get; set; }
        public string Ubicacion { get; set; }
        public string Unidad { get; set; }
        public decimal Costo { get; set; }
        public decimal Itbis { get; set; }
        public decimal CostoItbis { get; set; }
        public decimal Precio1 { get; set; }
        public decimal Precio2 { get; set; }
        public decimal Precio3 { get; set; }
        public decimal Precio4 { get; set; }
        public decimal Descuentos { get; set; }
        public bool Expira { get; set; }
        public decimal ExistenciaInicial { get; set; }
    }
}